<!-- <div class="container mt-4">

  <div class="d-flex justify-content-end mt-2 mb-2">
    <button (click)="goBack()" class="btn btn-secondary">Back</button>
  </div>

  <p>child works!</p>


</div>

<input type="text" placeholder="Enter Email" #e>
<button (click)="templeteref(e)">click</button> -->

<!---------------------Parent to child---------------------------------- -->
<!-- <div>{{d2}}</div> -->
<!-- <div>{{d1 == undefined ? 'No data': d1}}</div> -->
<!------------------------------------------------------- -->

<button (click)="passtoparent()">Send</button>